<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 后置通知 -->
    <!-- 无接口的cglib动态代理 有接口的JDKproxy动态代理 -->
    <!-- bean definition here -->
   	<!-- 注册目标对象 -->
    <bean name="someService" class="com.wmz.aop07.SomeService" />
    
    <!-- 注册通知 -->
    <bean name="myAdvice" class="com.wmz.aop07.MyAfterReturningAdvice"/>
    
    <!-- 生成代理对象 -->
    <bean name="serviceProxy" 
    	class="org.springframework.aop.framework.ProxyFactoryBean">
    	<!-- 指定目标对象 -->
    	<!-- <property name="targetName" value="someService"></property> -->
    	<property name="target" ref="someService"/>
    	<!-- 指定切面 -->
    	<property name="interceptorNames" value="myAdvice"/>
    </bean>

</beans>